.nav-pills .nav-item .active {
  background-color: $gold;
}

.nav-item .nav-link {
  background-color: #92140C;
  border: 0;
  color: white;
  margin-bottom: 30px;
}

.image-char-about {
  width: 230px;
  height: 100%;
}

.spacing {
  padding-bottom: 80px;
}

.spacing h3 {
  color: #92140C;
}
