.navbar-game {
  weight: 100%;
  height: 50px;
  background-color: $blue;
  opacity: 0.7;
  display: flex;
  justify-content: flex-end;
}

.exit-navbar-game {
  margin: 5px 30px 0px 0px;
  height: 40px;
  width: 80px;
}

.btn-success:hover {
  color: $gold;
}

.character {
  height: 90vh;
  position: absolute;
  bottom: 0;
  z-index: 0;

  &.left {
    left: 0px;
  }

  &.right {
    right: 0px;
  }

  &.middle {
    left: 0;
    right: 0;
    text-align: center;
  }

  img {
    height: 100%
  }
}

.background {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: absolute;
}

.box-dialog {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#dialogue {
  min-width: 100%;
  min-height: 10vh;
  background-color: rgba($dialogue-grey, 0.75);
  justify-content: center;
  border-radius: 10px;
  position: absolute;
  top: 65vh;
  z-index: 1;
  padding: 1rem;
}

.dialogue p {
  text-align: center;
  font-size: 18px;
  font-weight: light;
  color: #000000;
  margin: 0;
}

.arrow {
  color: $dark;
  opacity: 1.0;
  position: absolute;
  right: 5%;
}

.floating {
  animation-name: floating;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from { transform: translate(0,  -10px); }
  65%  { transform: translate(0, 0px); }
  to   { transform: translate(0, -10px); }
}

#actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $red
}

.button-choice {
  text-align: center;
  opacity: 0.7;
}

.button-choice:hover {
  color: $gold;
}

.modal-header {
  background-color: $dialogue-grey;
}

.modal-body {
  background-color: $dialogue-grey;
}

#Jorek {
  position: absolute;
  bottom: 0;
  height: 70vh;
}

#Agronak {
  position: absolute;
  bottom: 0;
}

#Valena {
  position: absolute;
  bottom: 0;
}

#Ziraldo {
  position: absolute;
  bottom: 0;
}

#Barnabas {
  position: absolute;
  bottom: 0;
}

#Halia {
  position: absolute;
  bottom: 0;
}

.popup {
  color: $red;
  &:hover {
    color: $gold;
  }
}

.popover {
  padding: 10px;
  border-radius: 15px;
}
