
<table class="table table-striped table-hover">
  <thead>
    <tr>
    <th>ID</th>
    <th>Contents</th>
    </tr>
  </thead>
  <tbody>

<% @scenes.each do |scene| %>
    <tr>
      <th><%= scene.id %></th>
      <td><%= scene.story %></td>
    </tr>
<% end %>
  </tbody>
</table>
