<div id="story-data" data-story="<%= @story.to_json%>" data-story-index="0">
</div>
<p id="story-board"></p>
<div id="actions" class="d-none">
<% @scene.choices.each do |choice| %>
  <p class="mt-3"><%= link_to choice.action, scene_path(choice.next_scene), class: "btn btn-primary" %></p>
<% end %>
</div>
