<div id="story-data" data-story="<%= @story.to_json %>" data-story-index="0"></div>

<div class="background" style="background-image: url(<%= cl_image_path @scene.background.key, crop: :fill if @scene.background.attached? %>)">
  <div class="show-stories">
    <div class="container box-dialog">


        <% @story.each do |dialogue| %>
          <div id="dialogue">
            <p class="story-line d-none"><%= dialogue.html_safe %></p>
          </div>
        <% end %>

        <div id="actions" class="d-none">
          <% @scene.choices.each do |choice| %>
            <p><%= link_to choice.action, scene_path(choice.next_scene), class: "button-choice btn btn-success" %></p>
          <% end %>
        </div>

    </div>
  </div>
</div>
