<div class="footer" id="footer">
  <div class="footer-links">
    <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://pt-br.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://br.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
     © 2021 TreeBranch Games ™
  </div>
</div>
