<div class="container mt-4">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item mr-3" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Story</button>
    </li>
    <li class="nav-item mr-3" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Characters</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Map</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p></div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <div class="container">
        <div class="row spacing">
          <div class="col-8">
            <h3>Anduin Wrynn</h3>
            <p>Was just a boy, his father, King Varian Wrynn, was kidnapped. In Varian's absence, Anduin was named King of Stormwind under the regency of Bolvar Fordragon and the advise of Lady Katrana Prestor. In truth, however, Katrana Prestor was a disguise for the black dragon Onyxia, who had used her dark magic to split Varian in two. When one half of Varian returned to the throne of Stormwind, Anduin was the first to sense something amiss with the man claiming to be his father. Before long, the other half of Varian returned to Stormwind and unmasked Lady Prestor for what she truly was, but in response, Onyxia kidnapped Anduin and brought him to her lair across the sea.</p>
          </div>
          <div class="col-4">
            <img class="image-char-about pl-4" src="https://cdnb.artstation.com/p/assets/images/images/018/213/877/large/julie-damgaard-anduinwrynnedit2artstation.jpg?1558617892">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row spacing">
          <div class="col-4">
            <img class="image-char-about ml-4" src="https://wallpapercave.com/wp/wp1862523.jpg">
          </div>
          <div class="col-8">
            <h3>Arthas Menethil</h3>
            <p>Crown Prince of Lordaeron and Knight of the Silver Hand, was the son of King Terenas Menethil II and heir to the kingdom's throne. He was trained as a paladin by Uther the Lightbringer and became inducted into the Knights of the Silver Hand. Arthas also had a romantic relationship with the sorceress Jaina Proudmoore. Committed to the protection of his people, Arthas was determined to stop the plague of undeath from infecting Lordaeron.</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row spacing">
          <div class="col-8">
            <h3>Illidan Stormrage</h3>
            <p>Commonly known as the Betrayer, is the first of the demon hunters, the former self-proclaimed Lord of Outland, the former ruler of the Black Temple, and the original leader of the Illidari. He is the twin brother of Malfurion Stormrage and was, like his sibling, in love with Tyrande Whisperwind. Originally a powerful night elf sorcerer, Illidan officially betrayed his people by defecting to the demonic Burning Legion during the War of the Ancients, though his reasons for doing so were noble as he secretly aimed to repel the Legion's invasion.</p>
          </div>
          <div class="col-4">
            <img class="image-char-about pl-4" src="https://wallpaperaccess.com/full/2779366.jpg">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row spacing">
          <div class="col-4">
            <img class="image-char-about ml-4" src="https://cdn1.dotesports.com/wp-content/uploads/2019/12/06045837/fdbbd61693614dc8e67f784e91f6fcda.jpg">
          </div>
          <div class="col-8">
            <h3>Tyrande Whisperwind</h3>
            <p>Is the chosen high priestess of the goddess Elune, the former general of the night elf Sentinels and the current head of the Sisterhood of Elune. Together with her lifelong mate, the archdruid Malfurion Stormrage, she has represented the highest leadership of the night elves since the fall of Queen Azshara and the Highborne caste ten thousand years ago. Since the middle of the Fourth War, Tyrande is also the current incarnation of the Night Warrior, the embodiment of Elune's wrath.</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row spacing">
          <div class="col-8">
            <h3>Malfurion Stormrage</h3>
            <p>Malfurion Stormrage was the first mortal druid on Azeroth, and the night elf who initiated the mainstream use of druidism among the kaldorei people ten millennia ago under tutelage of the demigod Cenarius. He is the twin brother of Illidan Stormrage, as well as the loving and beloved husband of the high priestess of Elune, Tyrande Whisperwind. Together, the two have represented the highest leadership of the night elves ever since the fall of Queen Azshara and her Highborne caste.</p>
          </div>
          <div class="col-4">
            <img class="image-char-about pl-4" src="https://img3.goodfon.com/wallpaper/nbig/2/8e/heroes-of-the-storm-world-of-7667.jpg">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row spacing">
          <div class="col-4">
            <img class="image-char-about ml-4" src="https://freight.cargo.site/t/original/i/560e3dab1f9847158e208bdd50b19198ee0ac8a2ad6f5d0fa05da08f0b1cd47f/Sylvanas.jpg">
          </div>
          <div class="col-8">
            <h3>Sylvanas Windrunner</h3>
            <p>Also referred to as "the Dark Lady" and "the Banshee Queen" during her rule, is the former Warchief of the Horde and former supreme ruler of the Forsaken, one of the most powerful factions of undead on Azeroth. In life, Sylvanas was the ranger-general of Silvermoon, whose leadership acumen and martial prowess were without equal. During the Third War, she bravely defended Quel'Thalas from a Scourge invasion led by the death knight Arthas Menethil. Ultimately, however, Sylvanas fell in battle. Rather than honor the ranger-general with a quick death, Arthas ripped out her soul and transformed it into a banshee: a cunning and vengeful agent of the Lich King empowered by hate.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"><%= image_tag("map-rascunho.jpeg", size: "1100x800", class: "mb-5") %></div>
  </div>
</div>
