<div class="dev">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1522776851755-3914469f0ca2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
    <div class="container">
      <h2 class="text-center">Meet our <u>FANTASTIC</u> Team</h2>
    </div>
  </div>
  <h3 class="text-center space-title"> Le Wagon <i class="fas fa-heart"></i> Batch#766 </h3>
  <div class="container d-flex  justify-content-around space-card">
    <div class="card mb-5">
      <img src="https://ca.slack-edge.com/T02NE0241-U02H16NM954-b44f7e065b4e-512">
      <div class="container mb-3">
        <p class="name text-center mt-2"><b>Bernardo Monclaro</b></p>
        <p class="text-center">Full Stack Developer</p>
        <div class="d-flex justify-content-around">
          <a href="#" target="_blank"><i class="fab fa-github pb-2"></i></a>
          <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
    <div class="card mb-5">
      <img src="https://ca.slack-edge.com/T02NE0241-U02GVTPU614-d2f8588933ff-512">
      <div class="container">
        <p class="name text-center mt-2"><b>Bruno Neumann</b></p>
        <p class="text-center">Full Stack Developer</p>
        <div class="d-flex justify-content-around">
          <a href="https://github.com/brunoneumann90" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.instagram.com/neumannbruno/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/bruno-bodega-a5b189223/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.facebook.com/bruno.neumann.94" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
    <div class="card mb-5">
      <img src="https://ca.slack-edge.com/T02NE0241-U02H7659DMZ-f457ebf830e9-512">
      <div class="container">
        <p class="name text-center mt-2"><b>Eduardo Piccin</b></p>
        <p class="text-center">Full Stack Developer</p>
        <div class="d-flex justify-content-around">
          <a href="#" target="_blank"><i class="fab fa-github"></i></a>
          <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
    <div class="card mb-5">
      <img src="https://ca.slack-edge.com/T02NE0241-U02H2MP94BV-e814daedd84b-512">
      <div class="container">
        <p class="name text-center mt-2"><b>Karen Banci</b></p>
        <p class="text-center">Full Stack Developer</p>
        <div class="d-flex justify-content-around">
          <a href="#" target="_blank"><i class="fab fa-github"></i></a>
          <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
