<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1522776851755-3914469f0ca2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="container">
    <h1 class="text-center">Meet our <strong>fantastic</strong> Team</h1>
    <p class="text-center mt-3">Change your life by living this game with us</p>
  </div>
</div>
