<div class="home-pg">
  <h1 class="home-title">Branching Narrative Games</h1>
  <%= link_to  "PLAY NOW", new_user_session_path, class: "button-a" %>
  <%= link_to  "Register now!", new_user_session_path, class: "button-b mt-5" %>
</div>
