<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdnb.artstation.com/p/assets/images/images/001/905/079/large/geoffrey-ernault-thecontractlq.jpg?1454486469);">
  <div class="container text-center">
    <h1 class="title">The Hoard of Ardrarth</h1>

    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#name-box">
      PLAY NOW
    </button>

    <div class="footer">
      © 2021 TreeBranch Games ™   Batch#766 | Bernardo Monclaro | Bruno Neumann | Eduardo Piccin | Karen Banci
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="name-box" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">And how might you be called?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= form_with url: narratives_path, method: 'PATCH' do |f| %>
          <%= f.text_field :pc_name %>
          <%= f.submit "Begin Your Adventure" class="btn btn-success" 'data-turbolinks':false %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= audio_tag("music_home.mp3", autoplay: true, loop: true) %>
