<div class="home-pg">
  <h1 class="home-title">Branching Narrative Games</h1>
  <%= link_to  "PLAY NOW", new_user_session_path, class: "btn btn-outline-light" %>
  <%= link_to  "Register now!", new_user_session_path, class: "btn btn-danger mt-5" %>
</div>
