<div class="home-pg">
  <h1 class="home-title">Branching Narrative Games</h1>
  <% if current_user %>
   <%= link_to "PLAY NOW", index_path, class: "btn btn-outline-light" %>
  <% else %>
    <%= link_to "PLAY NOW", new_user_session_path, class: "btn btn-outline-light" %>
  <% end %>
  <%= link_to  "Register now!", new_user_registration_path, class: "btn btn-danger mt-5" %>
</div>
