<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1548445929-4f60a497f851?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="container text-center">
    <h1 class="text-white">Branching Narrative Game</h1>
    <p class="text-white">Begin Your Adventure</p>
    <%= link_to  "PLAY NOW", new_user_session_path, class: "btn btn-danger" %>
  </div>
</div>

<div class="container">
  <div class="container-story">
    <h2 class="text-center mt-5 mb-4 text-white"><u>Story</u></h2>
    <div>
      <div class="home-content">
        <img class="image-home mr-5" src="https://static.wikia.nocookie.net/onceuponatime8042/images/4/4e/113Book.png">
        <%# https://media.istockphoto.com/vectors/once-upon-a-time-text-design-on-chalkboard-vector-id506915205?k=20&m=506915205&s=612x612&w=0&h=APaKNXPqekbnj0fvrBqdlupB4ziy4NSRcyBgqru-7Aw= %>
        <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="container-charac">
    <h2 class="text-center mt-5 mb-5 text-white"><u>Characters</u></h2>
    <div class="charac-home d-flex justify-content-around">
      <img class="mb-4" src="https://cdnb.artstation.com/p/assets/images/images/018/213/877/large/julie-damgaard-anduinwrynnedit2artstation.jpg?1558617892">
      <img class="align-self-center mb-4" src="https://wallpapercave.com/wp/wp1862523.jpg">
      <img class="align-self-center mb-4" src="https://wallpaperaccess.com/full/2779366.jpg">
      <img class="align-self-center mb-4" src="https://steamuserimages-a.akamaihd.net/ugc/912417222212235851/3E222B9F657EB6C2F923A3DF7FCB204120508FC3/?imw=1024&imh=576&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true">
      <img class="align-self-center mb-4" src="https://img3.goodfon.com/wallpaper/nbig/2/8e/heroes-of-the-storm-world-of-7667.jpg">
      <img class="align-self-center mb-4" src="https://freight.cargo.site/t/original/i/560e3dab1f9847158e208bdd50b19198ee0ac8a2ad6f5d0fa05da08f0b1cd47f/Sylvanas.jpg">
    </div>
  </div>
</div>
