<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdnb.artstation.com/p/assets/images/images/001/905/079/large/geoffrey-ernault-thecontractlq.jpg?1454486469);">
  <div class="container text-center">
    <h1 class="text-white mb-5 pb-5">The Hoard of Ardrarth</h1>
    <p>Begin Your Adventure</p>
    <%= link_to "PLAY NOW", scene_path(1), 'data-turbolinks':false, class: "btn btn-danger", id: "playbtn"%>
  </div>
</div>
