<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdnb.artstation.com/p/assets/images/images/001/905/079/large/geoffrey-ernault-thecontractlq.jpg?1454486469);">
  <div class="container text-center">
    <h1 class="title">The Hoard of Ardrarth</h1>
    <p>Begin Your Adventure</p>
    <%= link_to "PLAY NOW", scene_path(1), 'data-turbolinks':false, class: "btn btn-success", id: "playbtn"%>

    <div class="footer">
      © 2021 TreeBranch Games ™   Batch#766 | Bernardo Monclaro | Bruno Neumann | Eduardo Piccin | Karen Banci
    </div>
  
  </div>
</div>
