<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdnb.artstation.com/p/assets/images/images/001/905/079/large/geoffrey-ernault-thecontractlq.jpg?1454486469);">
  <div class="container text-center">
    <h1 class="text-white mb-5 pb-5">The Hoard of Adrarth</h1>
    <p>Begin Your Adventure</p>
    <%= link_to  "PLAY NOW", new_user_session_path, class: "btn btn-danger" %>
  </div>
</div>

<div class="container">
  <div class="container-story">
    <h2 class="text-center mt-5">Story</h2>
    <div>
      <div class="home-content mt-5">
        <div class="row">
          <div class="col-12 col-lg-6 mb-2">
            <img class="image-home" src="https://images.unsplash.com/photo-1551029506-0807df4e2031?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1034&q=80">
          </div>
          <div id="content-story" class="col-12 col-lg-6">
            <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
    <h2 class="text-center mt-5 mb-5">Characters</h2>
  <div class="container-character">
    <%# CARD 1 %>
    <div class="card-character card-1">
      <div class="image-character">
        <img src="https://cdnb.artstation.com/p/assets/images/images/018/213/877/large/julie-damgaard-anduinwrynnedit2artstation.jpg?1558617892">
      </div>
      <div class="title">Anduin Wrynn</div>
    </div>
    <%# CARD 2 %>
    <div class="card-character card-2">
      <div class="image-character">
        <img src="https://wallpapercave.com/wp/wp1862523.jpg">
      </div>
      <div class="title">Arthas Menethil</div>
    </div>
    <%# CARD 3 %>
    <div class="card-character card-3">
      <div class="image-character">
        <img src="https://wallpaperaccess.com/full/2779366.jpg">
      </div>
      <div class="title">Illidan Stormrage</div>
    </div>
    <%# CARD 4 %>
    <div class="card-character card-4">
      <div class="image-character">
        <img src="https://steamuserimages-a.akamaihd.net/ugc/912417222212235851/3E222B9F657EB6C2F923A3DF7FCB204120508FC3/?imw=1024&imh=576&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true">
      </div>
      <div class="title">Tyrande Whisperwind</div>
    </div>
    <%# CARD 5 %>
    <div class="card-character card-5">
      <div class="image-character">
        <img src="https://img3.goodfon.com/wallpaper/nbig/2/8e/heroes-of-the-storm-world-of-7667.jpg">
      </div>
      <div class="title">Malfurion Stormrage</div>
    </div>
    <%# CARD 6 %>
    <div class="card-character card-6">
      <div class="image-character">
        <img src="https://freight.cargo.site/t/original/i/560e3dab1f9847158e208bdd50b19198ee0ac8a2ad6f5d0fa05da08f0b1cd47f/Sylvanas.jpg">
      </div>
      <div class="title">Sylvanas Windrunner</div>
    </div>
  </div>
  <%# <script>
    $('.card-character').hover(function(){
      console.log($(this))
      if($(this).hasClass('active')){
      console.log('has class')
        $('.card-character .subtitle').stop().slideDown();
      } else {
      console.log('no class')
        $(this).addClass('active');
        $(this).find('.subtitle').slideUp(function(){
          $(this).removeClass('active');
        });
      }
    });
  </script> %>
</div>
