<div class="container d-flex justify-content-center bg-dark">

  <div class="card-profile">
    <div class="card-body">

      <div class="d-flex justify-content-around mb-5">
        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "avatar-profile" %>
        <div class="mt-4 pr-3">
          <h2>Username <%= @user.username %></p></h2>
        </div>
      </div>
      <%# editar profile %>
      <%= link_to "edit", edit_user_registration_path, class: "btn btn-danger btn-block mb-3" %>

      <%# barra de progresso %>
      <div class="container text-center my-5">
        <h2 class="mb-5">Your progress</h2>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        <%# aqui coloca uma lógica que de acordo com o progresso do user no jogo %>
        </div>
      </div>
    </div>
  </div>
</div>
