// Banner - Index
.banner-index {
  background-size: cover;
  height: 100vh;
  width: 100vw;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 40px;
    padding: 0px 50px;
    font-size: 13px;
    color: rgba(240, 240, 240, 0.6);
      a {
        color: rgba(240, 240, 240, 0.6);
        line-height: 1em;
        display: inline-block;
        text-decoration: none;
        padding: 3px;
        margin: 3px;
      }
    }
  }
}



.title {
  font-size: 56px;
  color: white;
}

.banner-index p {
  font-size: 20px;
  color: white;
  opacity: 0.8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// Banner - Devs
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
