html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $gold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0px 50px;
  color: $dark;
}
.footer-links {
  display: flex;
  align-items: center;
  color: $dark;
}
.footer-links a {
  color: $dark;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: white;
}

.footer .fa-heart {
  color: $dark;
}
